.header {
  display: flex;
  flex-direction: row;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #666;
  background: #eee;
  padding: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.children {
  flex-grow: 1;
  padding: 1rem 0 1rem 1rem;
  border-width: 0 0 0.1rem 0.1rem;
  border-style: dotted;
  border-color: #666;
}

.controls {
  position: absolute;
  //margin: 0 0 -1rem 0;
  padding: 0.1rem 0 0 0; // 0.5rem;
  right: 2rem;
}

.createButton {}
