$buttonGreen: rgba(0, 101, 46, 0.4);
$buttonRed: #ff5d6a;

.parameter {
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: dashed 0.1rem #eee;
  transition: background 0.1s ease;

  .header {
    span.parameterType {
      margin-left: 0.5rem;
    }
  }

  .controls {
    opacity: 0.4;
    position: absolute;
    margin: 0 0 -1rem 0;
    padding: 0.4rem 0 0 0.5rem;
    right: 2rem;
  }

  &:hover {
    background: rgba(0, 101, 46, 0.2);
    .controls {
      opacity: 1;
    }

    .editButton {
      background: $buttonGreen;

      &:hover {
        background: lighten($buttonGreen, 10%);
      }
    }

    .deleteButton {
      background: $buttonRed;

      &:hover {
        background: lighten($buttonRed, 10%);
      }
    }
  }

  pre {
    margin: 0;
    overflow: hidden;
  }
}
