@import '~semantic-ui-css/semantic.min.css';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input, textarea {
  font-family: "Source Sans Pro", sans-serif;
}
